/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  color: #333;
}

h3 {
  text-align: center;
  color: #333;
}

/* Login Page Styles */
.login-container {
  text-align: center;
  margin-top: 20%;
}

input[type="text"], input[type="password"] {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 80%;
}

button {
  padding: 0.7rem 2rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Home Page Styles */
.search-engine {
  text-align: center;
  margin: 2rem 0;
}

input[type="text"] {
  padding: 0.5rem;
  width: 50%;
}

button {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.ad-slots {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.ad-slot {
  background-color: #e3e3e3;
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd;
}
